* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9.5rem;
}

.navbar-container > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6.5rem;
}

nav div img {
    width: 120px;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.list-item {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    margin-right: 2.7rem;
}

.list .list-item:first-child {
    font-size: 1.375rem;
    font-weight: 800;
    position: relative;
    height: 2rem;
    line-height: 2rem;
}

.list .list-item:first-child::after {
    content: '';
    position: absolute;
    height: 0.15rem;
    width: 3rem;
    background-color: #000000;
    bottom: 0%;
    right: 10%;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6.5rem;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
}

.search-icon svg{
    width: 25px;
}

.nav-button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.313rem;
    font-weight: 500;
    padding: 0.1rem 2.3rem;
    border: 2.5px solid #000000;
    border-radius: 12px;
    background-color: #ffffff;
    color: #515151;
}

.hero-container {
    display: flex;
    position: relative;
}

.square {
    position: absolute;
    bottom: -3%;
    left: 17%;
    z-index: -1;
}

.square img {
    width: 300px;
}

.hero-container > span:nth-child(2) {
    position: absolute;
    z-index: -1;
    right: 9%;
    top: 9%;
}

.hero-container > span:nth-child(2) > img {
    width: 52px;
}

.hero-container > span:nth-child(3) {
    position: absolute;
    z-index: -1;
    left: 48%;
    bottom: 3%;
}

.hero-container > span:nth-child(3) > img {
    width: 38px; 
}

.globe {
    position: absolute;
    z-index: -1;
    left: 56%;
}

.globe img {
    width: 57px;
}

.hero-container > div:nth-child(5) {
    width: 40%;
}

.hero-container > div:nth-child(5) img {
    width: 65%;
    margin: 2.5rem 0 0 6.5rem;
}

.hero-container-right {
    width: 60%;
    text-align: center;
}

.hero-heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    margin-top: 8.5rem;
}

.hero-description {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    width: 65%;
    margin: auto;
    margin-top: 2.7rem;
    color: #515151;
}

.hero-container-right > div:nth-child(3) {
    margin-top: 4rem;
}

.button-email {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.2rem 1.5rem;
    margin-right: 0.8rem;
    border: 2px solid #000000;
    border-radius: 9px;
    background-color: #ffffff;
    color: #515151;
}

.button-join {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.2rem 0.8rem;
    border-radius: 9px;
    border: 2px solid #000000;
    background-color: #000000;
    color: #ffffff;
}

.hero-container-right > div:nth-child(4) {
    margin-top: 5.5rem;
}

.contact-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    color: #515151;
}

.icons span {
    margin-right: 1rem;
}

.icons span img {
    width: 32px;
}